[submodule "settpay_api"]
	path = settpay_api
	url = https://github.com/setheum-js/settpay.js.git
[submodule "settpay_extension"]
	path = settpay_extension
	url = https://github.com/setheum-js/sp-extension.js
